{% extends 'medical_index.html' %}
{% load static %}
{% block body %}


<h1 style="padding-top:7%;">Medical Information</h1>
<div style=" position: relative; left: 43%;">
    
           <form action="{% url 'info' %}" method="POST">
               {% csrf_token %}
               <label for="name_of_med">NAME OF MEDICAL:</label><br>
               <input type="text" name="name_of_med" value="{{med_info.name_of_med}}"><br><br>
               <label for="name_of_med">ADDRESS:</label><br>
               <input type="text" name="address" value="{{med_info.address}}"><br><br>
               <label for="name_of_med">CONTACT:</label><br>
               <input type="text" name="contact" value="{{med_info.contact}}"><br><br>
               <label for="name_of_med">REGISTRATION NUMBER:</label><br>
               <input type="text" name="reg_num" value="{{med_info.reg_num}}"><br><br>
               <label for="name_of_med">ESTABLISHMENT YEAR:</label><br>
               <input type="text" name="est" value="{{med_info.est}}"><br><br>

               <button type="submit" class="btn btn-lg btn-primary">Save</button>

           </form>
       </div>




{% endblock body %}




       