{% extends 'medical_index.html' %}
{% load static %}
{% block body %}


<h1 style="padding-top:7%; margin-left: 9%; border: 5px solid black; font-family: Verdana, Geneva, Tahoma, sans-serif;">Medical Information</h1>
<div style=" position: relative; left: 43%;">
    
           <form action="{% url 'info' %}" method="POST">
               {% csrf_token %}
               <label for="name_of_med" style="font-size: larger;"><b>NAME OF MEDICAL:</b></label><br>
               <input type="text" name="name_of_med" value="{{med_info.name_of_med}}" style="padding-right:10%;"><br><br>
               <label for="name_of_med" style="font-size: larger;"><b>ADDRESS:</b></label><br>
               <input type="text" name="address" value="{{med_info.address}}" style="padding-right:10%;"><br><br>
               <label for="name_of_med" style="font-size: larger;"><b>CONTACT:</b></label><br>
               <input type="text" name="contact" value="{{med_info.contact}}" style="padding-right:10%;"><br><br>
               <label for="name_of_med" style="font-size: larger;"><b>REGISTRATION NUMBER:</b></label><br>
               <input type="text" name="reg_num" value="{{med_info.reg_num}}" style="padding-right:10%;"><br><br>
               <label for="name_of_med" style="font-size: larger;"><b>ESTABLISHMENT YEAR:</b></label><br>
               <input type="text" name="est" value="{{med_info.est}}" style="padding-right:10%;"><br><br>

               <button type="submit" class="btn btn-lg btn-primary">Save</button>

           </form>
       </div>




{% endblock body %}




       