 {% load static %}
 <!DOCTYPE html>
 <html lang="en">
 <head>
     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{% static "css/index.css" %}">
    <link rel="stylesheet" href="{% static "css/registration.css" %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
     <link href='https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css' rel='stylesheet'>
     <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
     <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


     <title>Meditrack!</title>
 </head>
 <body>
    
    <!-- header -->
    
      <header style="padding-bottom:3.4%; z-index: 1;">
          
          <div class="left_area">
              <h2>Med<span>!</span>track</h2>
          </div>
          <div class="right_area">
              <a href="{% url 'logout' %}" class="login_btn">Logout</a>
          </div>
        </header>
        <!-- sidebar -->

        <div class="sidebar">
            
            <center><img src="../static/css/images/logo.jpg" class="profile_image" alt=""></center>
            
            
            <a href="{% url 'Userindex' %}"><i class='bx bxs-dashboard'></i>Home</a>
           
            <a href="{% url 'medicalstores' %}"><i class='bx bxs-info-circle'></i><span>Medical Stores</span></a>
            <a href="{% url 'stocks' %}" class="stocks"><i class='bx bx-coin-stack'></i><span>Stock</span></a>
            <a href="{% url 'userinfo' %}"><i class='bx bxs-info-circle'></i><span>Info</span></a>
           
        </div>
        {% block body %}

        {% for message in messages  %}
         <p style="text-align: center; padding-top: 10%;">{{message}}</p>
        {% endfor %}

        <h1 style="padding-top:6%">Home Page</h1>

       

        
        {% endblock body %}


    
 </body>
 </html>