 {% load static %}
 <!DOCTYPE html>
 <html lang="en">
 <head>
     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{% static "css/index.css" %}">
    <link rel="stylesheet" href="{% static "css/registration.css" %}">
    
     <link href='https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css' rel='stylesheet'>


     <title>Meditrack!</title>
 </head>
 <body>
    {% block content %}
    <!-- header -->
    
      <header>
          
          <div class="left_area">
              <h2>Med<span>!</span>track</h2>
          </div>
          <div class="right_area">
              <a href="{% url 'login' %}" class="login_btn">login</a>
              <a href="{% url 'registration' %}" class="register_btn" >Register</a>
            
          </div>
          
          
        </header>
        <!-- sidebar -->

        <div class="sidebar">
            
            <center><img src="../static/css/images/logo.jpg" class="profile_image" alt=""></center>
            
            
            <a href="#"><i class='bx bxs-dashboard'></i></a>
           
            <a href="#"><i class='bx bxs-info-circle'></i><span>Medical Stores</span></a>
            <a href="{% url 'stocks' %}" class="stocks"><i class='bx bx-coin-stack'></i><span>Stock</span></a>
            <a href="#"><i class='bx bxs-home-smile'></i><span>About us</span></a>
            <a href="#"><i class='bx bxs-info-circle'></i><span>Info</span></a>
           
        </div>
    {% endblock %}
 </body>
 </html>