 {% load static %}
 <!DOCTYPE html>
 <html lang="en">
 <head>
     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{% static "css/index.css" %}">
    <link rel="stylesheet" href="{% static "css/registration.css" %}">
    
     <link href='https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css' rel='stylesheet'>


     <title>Meditrack!</title>
 </head>
 <body>
    
    <!-- header -->
    
      <header>
          
          <div class="left_area">
              <h2>Med<span>!</span>track</h2>
          </div>
          <div class="right_area">
              <a href="{% url 'logout' %}" class="login_btn">Logout</a>
          </div>
         
          
          
        </header>
        <!-- sidebar -->

        <div class="sidebar">
            
            <center><img src="../static/css/images/logo.jpg" class="profile_image" alt=""></center>
            
            
            <a href="{% url 'medindex' %}"><i class='bx bxs-dashboard'></i>Home</a>
           
            <a href="{% url 'orders' %}"><i class='bx bxs-info-circle'></i><span>Orders</span></a>
            <a href="{% url 'inventory' %}" class="stocks"><i class='bx bx-coin-stack'></i><span>Inventory</span></a>
            <a href="{% url 'info' %}"><i class='bx bxs-home-smile'></i><span>Stores Info</span></a>
            
           
        </div>
        {% block body %}

        
        {% endblock body %}


    
 </body>
 </html>