{% extends 'index.html' %}
{% load static %}
{% block content %}

<div class="register"><h1>Register Here</h1></div>
<div class="main">
  <form action="">
    <div class="firstN" id="name">
      <label class="m">First Name</label>
      <input type="text" class="n" name="first">
    </div>
    <div class="midN" id="name">
      <label class="m">middle Name</label>
      <input type="text" class="n" name="first">
    </div>
    <div class="lastN" id="name">
      <label class="m">last Name</label>
      <input type="text" class="n" name="first">
    </div>
    <div class="email" id="name">
      <label class="m">Email</label>
      <input type="text" class="n" name="mail">
    </div>
    <div class="address" id="name">
      <label class="m" id="add">Address</label>
      <input type="code" class="bx-mobile" name="Mobile">
      <lbr><label class="m" id="pin">pin</label></lbr>
      <input type="code" class="n" name="mark">
     </div>
    
    <div class="phone" id="name">
      <label class="m">Mobile No:</label>
      <input type="textarea" class="text" name="address">
    </div>
  

<div class="gender"> 
   Gender :
  <label class="radio">
    <input type="radio" class="radio-one" >
    <span class="checkmark"></span>
    Male
  </label>
  <label class="radio">
    <input type="radio" class="radio-two" >
    <span class="checkmark"></span>
    Female
  </label>
  <label class="radio">
    <input type="radio" class="radio-three" >
    <span class="checkmark"></span>
    Others
  </label>
</div>
<div><a class="r" href="#">Register</a></div>
</form>
</div>
{% endblock %}


